/*!
 * layout.scss : styles for page layout components
 */
 
@import "../config/_config";
@import "../config/_include";

.page-header {
  border-bottom: 1px solid #CCCCCC;
  margin: 20px 0 20px;
  
  .page-title {
    font-size: 2em;
  }

  .pubdate {
    color: #999;
  }

}


h2 {
	
	&.title {
		font-size: 1.5em;
		padding: 7px 0;
	}
	
}
