@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";


.page-header {
	border-bottom: 1px solid #CCCCCC;
	.page-title {
		font-size: 2em;
	}
	.pubdate {
		color: #999;
	}
}

.about {

	padding-bottom: 15px;
	
	.left-panel {
		
		figure {
			
			img {
				@include box-shadow(#000000 0 1px 3px 1px);
				@include scale(.95);
				@include transition(compact(all 0.45s));
				
				&:hover {
				  @include scale(1);
				}
				
			}
			
		}
		
	}
	
	.right-panel {
	
	  div[class*="col"] {
			padding-top: 7px;
			padding-bottom: 7px;
			border-bottom: 1px solid #CCCCCC;
		}
		
	}
	
	
}

h2 {
	
	&.title {
		font-size: 1.5em;
		padding: 7px 0;
	}
	
}

.info {
  padding-bottom: 15px;
}


@media screen and ( min-width: 300px ) and ( max-width: 320px ) {
	
  .about .container .row > * {
    width: 100%;
  }
  
}
