@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";

.page-header {
	border-bottom: 1px solid #CCCCCC;
	.page-title {
		font-size: 2em;
	}
	.pubdate {
		color: #999;
	}
}

.about {

	padding-bottom: 15px;
	
	.left-panel {
		
		figure {
			
			img {
				@include box-shadow(#000000 0 1px 3px 1px);
				@include scale(.95);
				@include transition(compact(all 0.45s));
				
				&:hover {
				  @include scale(1);
				}
				
			}
			
		}
		
	}
	
	.right-panel {
	
	  div[class*="col"] {
			padding-top: 7px;
			padding-bottom: 7px;
			border-bottom: 1px solid #CCCCCC;
		}
		
	}
	
	
}

h2 {
	
	&.title {
		font-size: 1.5em;
		padding: 7px 0;
	}
	
}

.info {
  padding-bottom: 15px;
}

.videos {
	
	.grp {
	  border-bottom: 1px solid #CCCCCC;
	  
	  &:after {
	    content: "";
	    display: block;
	    clear: both;
	  }
	  
	}
	
	.vid {

		.v {
			max-width: 100%;
			height: 280px;
			@include box-shadow(rgba(0,0,0,0.5) 0 2px 4px 1px);
		}
		
	}
	
	div[class*="col"] {
	  padding-bottom: 15px;
	}

	.desc {
	
		.name {
			font-weight: bold;
			margin-bottom: 10px;
		}
		
		.topics {
			
			li {
				margin-left: 15px;
				padding: 0 0 7px 0;
			}
			
		}
		
	}
	
	.download {
	
		.name {
			font-weight: bold;
			margin: 0 0 10px 0;
		}
		
		.d {
			margin-left: 15px;
			
			li {
				padding: 0 0 7px 0;
			}		
				
		}
	}
}


@media screen and ( min-width: 480px ) {
	.videos {
	
		.vid {
		
			.v {
				height: 420px;
			}
			
		}	
		
	}
	
}

@media screen and ( min-width: 320px ) and ( max-width: 970px ) {
	.videos {
	
		.desc .topics li:last-child {
			padding: 0;
		}
		
		.download .d li:last-child {
			padding: 0;
		}
		
	}
	
}

@media screen and ( min-width: 300px ) and ( max-width: 320px ) {
	
  .about .container .row > * {
    width: 100%;
  }
  
}
