/* line 5, ../sass/page.scss */
.about {
  padding-bottom: 15px;
}
/* line 13, ../sass/page.scss */
.about .left-panel figure img {
  -webkit-box-shadow: black 0 1px 3px 1px;
  -moz-box-shadow: black 0 1px 3px 1px;
  box-shadow: black 0 1px 3px 1px;
  -webkit-transform: scale(0.95, 0.95);
  -moz-transform: scale(0.95, 0.95);
  -ms-transform: scale(0.95, 0.95);
  -o-transform: scale(0.95, 0.95);
  transform: scale(0.95, 0.95);
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}
/* line 18, ../sass/page.scss */
.about .left-panel figure img:hover {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 30, ../sass/page.scss */
.about .right-panel div[class*="col"] {
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid #CCCCCC;
}

/* line 43, ../sass/page.scss */
h2.title {
  font-size: 1.5em;
  padding: 7px 0;
}

/* line 50, ../sass/page.scss */
.info {
  padding-bottom: 15px;
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  /* line 57, ../sass/page.scss */
  .about .container .row > * {
    width: 100%;
  }
}
