/*!
 * base.scss : implicitly targets small screen device(s);
 * small screen device : 320px - 767px;
 * put your global declaration here, as we focus towards to a mobile first approach;
 * applies to small, mid, large screen devices;
 */
/*!
 * _config.scss : sass variable declaration;
 */
/* breakpoints begin */
/* breakpoints end */
/* typography begin */
/* typography end */
/*!
 * _include.scss : list of sass imports;
 */
/* line 11, ../../sass/default/base.scss */
.site-header {
  background: rgba(0, 0, 0, 0.85);
}

/* site navigation begin */
/* line 18, ../../sass/default/base.scss */
.site-navigation:after {
  content: "";
  clear: both;
  display: block;
}
/* line 24, ../../sass/default/base.scss */
.site-navigation li {
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, black 0 -1px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, black 0 -1px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, black 0 -1px 0px inset;
}
/* line 27, ../../sass/default/base.scss */
.site-navigation li a,
.site-navigation li a:link {
  display: block;
  padding: 10px;
  color: rgba(255, 255, 255, 0.9);
}
/* line 33, ../../sass/default/base.scss */
.site-navigation li a:focus, .site-navigation li a:hover,
.site-navigation li a:link:focus,
.site-navigation li a:link:hover {
  color: rgba(0, 0, 0, 0.9);
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px inset, black 0 0 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px inset, black 0 0 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px inset, black 0 0 2px;
}
/* line 39, ../../sass/default/base.scss */
.site-navigation li a:active,
.site-navigation li a:link:active {
  color: white;
  background: rgba(0, 194, 255, 0.91);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px inset, black 0 0 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px inset, black 0 0 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px inset, black 0 0 2px;
}
/* line 48, ../../sass/default/base.scss */
.site-navigation .name a {
  margin-right: 60px;
}
/* line 52, ../../sass/default/base.scss */
.site-navigation .name .nav-hook {
  float: right;
  height: 39px;
  width: 60px;
  text-align: center;
  background: white;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, black 0 -1px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, black 0 -1px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, black 0 -1px 0px inset;
}
/* line 63, ../../sass/default/base.scss */
.site-navigation .name .nav-hook:after, .site-navigation .name .nav-hook:before {
  content: '';
  display: block;
  -webkit-box-shadow: rgba(0, 194, 255, 0.91) 0 2px 0, rgba(0, 194, 255, 0.91) 0 2px 0px inset;
  -moz-box-shadow: rgba(0, 194, 255, 0.91) 0 2px 0, rgba(0, 194, 255, 0.91) 0 2px 0px inset;
  box-shadow: rgba(0, 194, 255, 0.91) 0 2px 0, rgba(0, 194, 255, 0.91) 0 2px 0px inset;
  height: 8px;
  width: 24px;
  margin: 0 auto;
}
/* line 72, ../../sass/default/base.scss */
.site-navigation .name .nav-hook:before {
  margin-top: 10px;
}
/* line 83, ../../sass/default/base.scss */
.site-navigation .nav {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 89, ../../sass/default/base.scss */
.site-navigation.show-nav .nav {
  /*height: 78px;*/
  /*currently handled using js from global.js*/
}

/* site navigation end */
